{
  "openapi": "3.1.0",
  "info": {
    "title": "EASYCRED Hosted Journey API",
    "version": "1.0.0",
    "description": "Simple 2-step hosted loan origination. Redirect borrowers to an EASYCRED-managed journey URL and check final status."
  },
  "servers": [
    {
      "url": "https://api.easycred.co.in",
      "description": "Production API"
    },
    {
      "url": "https://dev.easycred.co.in",
      "description": "Development / Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Hosted Journey",
      "description": "EASYCRED-hosted webview integration"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your active EASYCRED Partner API Key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/partner/journey/initiate": {
      "post": {
        "tags": [
          "Hosted Journey"
        ],
        "summary": "Step 1 - Initiate Hosted Journey",
        "operationId": "initiateHostedJourney",
        "description": "Starts a hosted loan journey and returns a hostedUrl to redirect the applicant to EASYCRED screens.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channel",
                  "productCode",
                  "mobile",
                  "loanAmount",
                  "customer"
                ],
                "properties": {
                  "channel": {
                    "type": "string",
                    "enum": [
                      "API_HOSTED"
                    ],
                    "description": "Integration channel. Must be API_HOSTED."
                  },
                  "productCode": {
                    "type": "string",
                    "enum": [
                      "ONLINE_PERSONAL",
                      "ONLINE_SHORT_TERM",
                      "ONLINE_BUSINESS",
                      "ONLINE_GOLD"
                    ],
                    "description": "Loan product: Personal Loan, Pocket Loan, Business Loan, or Gold Loan."
                  },
                  "mobile": {
                    "type": "string",
                    "pattern": "^[6-9]\\d{9}$",
                    "example": "9876543210",
                    "description": "Applicant 10-digit Indian mobile number."
                  },
                  "loanAmount": {
                    "type": "number",
                    "example": 100000,
                    "description": "Requested loan amount in INR."
                  },
                  "customer": {
                    "type": "object",
                    "required": [
                      "fullName",
                      "pan",
                      "dob",
                      "gender",
                      "employmentType",
                      "monthlyIncome",
                      "pinCode"
                    ],
                    "properties": {
                      "fullName": {
                        "type": "string",
                        "example": "Rahul Sharma"
                      },
                      "pan": {
                        "type": "string",
                        "example": "ABCDE1234F"
                      },
                      "dob": {
                        "type": "string",
                        "format": "date",
                        "example": "1992-06-15"
                      },
                      "gender": {
                        "type": "string",
                        "enum": [
                          "MALE",
                          "FEMALE",
                          "OTHER"
                        ],
                        "example": "MALE"
                      },
                      "employmentType": {
                        "type": "string",
                        "enum": [
                          "salaried",
                          "selfEmployed"
                        ],
                        "example": "salaried"
                      },
                      "monthlyIncome": {
                        "type": "number",
                        "example": 50000
                      },
                      "personalEmail": {
                        "type": "string",
                        "format": "email",
                        "example": "rahul.sharma@example.com"
                      },
                      "pinCode": {
                        "type": "string",
                        "example": "110001"
                      },
                      "companyName": {
                        "type": "string",
                        "description": "Required for Business Loan (ONLINE_BUSINESS)",
                        "example": "Sharma Enterprises"
                      }
                    }
                  },
                  "goldLoanDetails": {
                    "type": "object",
                    "description": "Required only for Gold Loan (ONLINE_GOLD)",
                    "properties": {
                      "jewellaryList": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "Gold Bangle 22K",
                          "Gold Chain 22K"
                        ]
                      },
                      "grams": {
                        "type": "string",
                        "example": "35.5"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hosted journey created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "journeyId": {
                          "type": "string",
                          "example": "65f2a1b9c9e77b0012345678"
                        },
                        "hostedUrl": {
                          "type": "string",
                          "example": "https://www.easycred.co.in/loan/resume?t=token_abc123"
                        },
                        "nextAction": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "REDIRECT_TO_HOSTED"
                            },
                            "category": {
                              "type": "string",
                              "example": "REDIRECT"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters or missing fields."
          },
          "403": {
            "description": "Missing required scope (leads:create) or unauthorized product."
          }
        }
      }
    },
    "/api/v1/partner/leads/{applicationId}/status": {
      "get": {
        "tags": [
          "Hosted Journey"
        ],
        "summary": "Step 2 - Check Application Status",
        "operationId": "checkHostedStatus",
        "description": "Polls the status of the loan application once the hosted journey finishes.",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "app_65f2a1b9c9e77b0012345678",
            "description": "Application identifier returned from initiate or status callback."
          }
        ],
        "responses": {
          "200": {
            "description": "Application status and sanction details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "applicationId": {
                          "type": "string",
                          "example": "app_65f2a1b9c9e77b0012345678"
                        },
                        "status": {
                          "type": "string",
                          "example": "APPROVED"
                        },
                        "productCode": {
                          "type": "string",
                          "example": "ONLINE_PERSONAL"
                        },
                        "sanctionDetails": {
                          "type": "object",
                          "properties": {
                            "loanAmount": {
                              "type": "number",
                              "example": 100000
                            },
                            "interestRate": {
                              "type": "number",
                              "example": 13.5
                            },
                            "tenureMonths": {
                              "type": "integer",
                              "example": 24
                            },
                            "disbursalStatus": {
                              "type": "string",
                              "example": "DISBURSED"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found."
          }
        }
      }
    }
  }
}