{
  "openapi": "3.1.0",
  "info": {
    "title": "EASYCRED LENDING APIs",
    "version": "1.0.0",
    "description": "Comprehensive EASYCRED Partner API specification for Product Discovery, Hosted Journeys, Headless Journeys, Application Tracking, and Webhooks."
  },
  "servers": [
    {
      "url": "https://api.easycred.co.in",
      "description": "Production API"
    },
    {
      "url": "https://dev.easycred.co.in",
      "description": "Sandbox / Development API"
    }
  ],
  "tags": [
    {
      "name": "Product Access",
      "description": "Discover and query eligible loan products"
    },
    {
      "name": "Hosted Journey",
      "description": "EASYCRED-hosted webview integration"
    },
    {
      "name": "Headless Journey",
      "description": "Full native REST API journey integration"
    },
    {
      "name": "Tracking and Leads",
      "description": "Track applications and query lead status"
    },
    {
      "name": "Webhooks",
      "description": "Register, list, and manage real-time webhook subscriptions"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "EASYCRED Partner API Key"
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Invalid signature or expired timestamp"
          }
        }
      },
      "Product": {
        "type": "object",
        "required": [
          "code",
          "displayName",
          "category"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "ONLINE_PERSONAL",
              "ONLINE_SHORT_TERM",
              "ONLINE_BUSINESS",
              "ONLINE_GOLD"
            ],
            "example": "ONLINE_PERSONAL"
          },
          "displayName": {
            "type": "string",
            "example": "Personal Loan"
          },
          "category": {
            "type": "string",
            "example": "PERSONAL_LOAN"
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "products"
            ],
            "properties": {
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "CustomerDetails": {
        "type": "object",
        "required": [
          "fullName",
          "pan",
          "dob",
          "gender",
          "employmentType",
          "pinCode"
        ],
        "properties": {
          "fullName": {
            "type": "string",
            "example": "Rahul Sharma"
          },
          "pan": {
            "type": "string",
            "pattern": "^[A-Z]{5}[0-9]{4}[A-Z]{1}$",
            "example": "ABCDE1234F"
          },
          "dob": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "1992-06-15"
          },
          "gender": {
            "type": "string",
            "enum": [
              "MALE",
              "FEMALE",
              "OTHER"
            ],
            "example": "MALE"
          },
          "employmentType": {
            "type": "string",
            "enum": [
              "salaried",
              "selfEmployed"
            ],
            "example": "salaried"
          },
          "monthlyIncome": {
            "type": "number",
            "example": 65000
          },
          "annualIncome": {
            "type": "number",
            "example": 4800000
          },
          "companyName": {
            "type": "string",
            "example": "Patel Industrial Solutions Pvt Ltd"
          },
          "udyamNumber": {
            "type": "string",
            "example": "UDYAM-KR-03-0123456"
          },
          "pinCode": {
            "type": "string",
            "pattern": "^\\d{6}$",
            "example": "560001"
          },
          "city": {
            "type": "string",
            "example": "Bengaluru"
          },
          "state": {
            "type": "string",
            "example": "Karnataka"
          },
          "addressL1": {
            "type": "string",
            "example": "Flat 402, Green Glen Layout, Bellandur"
          },
          "addressL2": {
            "type": "string",
            "example": "Near EcoWorld Tech Park"
          }
        }
      },
      "GoldLoanDetails": {
        "type": "object",
        "required": [
          "jewellaryList",
          "grams"
        ],
        "properties": {
          "jewellaryList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Gold Bangle 22K (2 Pcs)",
              "Gold Chain 22K (1 Pc)"
            ]
          },
          "grams": {
            "type": "string",
            "example": "42.5"
          }
        }
      },
      "HostedInitiateRequest": {
        "type": "object",
        "required": [
          "channel",
          "productCode",
          "mobile",
          "loanAmount",
          "customer"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "API_HOSTED"
            ],
            "example": "API_HOSTED"
          },
          "productCode": {
            "type": "string",
            "enum": [
              "ONLINE_PERSONAL",
              "ONLINE_SHORT_TERM",
              "ONLINE_BUSINESS",
              "ONLINE_GOLD"
            ],
            "example": "ONLINE_PERSONAL"
          },
          "mobile": {
            "type": "string",
            "pattern": "^[6-9]\\d{9}$",
            "example": "9876543210"
          },
          "loanAmount": {
            "type": "number",
            "example": 150000
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "goldLoanDetails": {
            "$ref": "#/components/schemas/GoldLoanDetails"
          }
        }
      },
      "HostedInitiateResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "journeyId",
              "hostedUrl",
              "nextAction"
            ],
            "properties": {
              "journeyId": {
                "type": "string",
                "example": "jrn_67a12b3c4d5e6f7a"
              },
              "hostedUrl": {
                "type": "string",
                "format": "uri",
                "example": "https://apply.easycred.co.in/journey/resume?token=eyJhbGciOi..."
              },
              "nextAction": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "WAITING_FOR_REDIRECT"
                  },
                  "category": {
                    "type": "string",
                    "example": "WAIT"
                  }
                }
              }
            }
          }
        }
      },
      "HeadlessInitiateRequest": {
        "type": "object",
        "required": [
          "channel",
          "productCode",
          "mobile",
          "loanAmount",
          "customer"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "API_HEADLESS"
            ],
            "example": "API_HEADLESS"
          },
          "productCode": {
            "type": "string",
            "enum": [
              "ONLINE_PERSONAL",
              "ONLINE_SHORT_TERM",
              "ONLINE_BUSINESS",
              "ONLINE_GOLD"
            ],
            "example": "ONLINE_PERSONAL"
          },
          "mobile": {
            "type": "string",
            "pattern": "^[6-9]\\d{9}$",
            "example": "9876543210"
          },
          "loanAmount": {
            "type": "number",
            "example": 150000
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "goldLoanDetails": {
            "$ref": "#/components/schemas/GoldLoanDetails"
          }
        }
      },
      "HeadlessInitiateResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "journeyId",
              "journeySession",
              "nextAction"
            ],
            "properties": {
              "journeyId": {
                "type": "string",
                "example": "jrn_67a12b3c4d5e6f7a"
              },
              "journeySession": {
                "type": "string",
                "example": "jsess_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "nextAction": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "POLL_LENDER_OFFERS"
                  },
                  "category": {
                    "type": "string",
                    "example": "POLL"
                  }
                }
              }
            }
          }
        }
      },
      "LenderOffer": {
        "type": "object",
        "required": [
          "offerId",
          "lenderName",
          "sanctionAmount",
          "roi",
          "tenureMonths",
          "emi"
        ],
        "properties": {
          "offerId": {
            "type": "string",
            "example": "off_apollo_101"
          },
          "lenderName": {
            "type": "string",
            "example": "Apollo Finvest"
          },
          "sanctionAmount": {
            "type": "number",
            "example": 150000
          },
          "roi": {
            "type": "number",
            "example": 14.5
          },
          "tenureMonths": {
            "type": "number",
            "example": 24
          },
          "emi": {
            "type": "number",
            "example": 7236
          }
        }
      },
      "JourneyStateResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "journeyId",
              "step",
              "nextAction"
            ],
            "properties": {
              "journeyId": {
                "type": "string",
                "example": "jrn_67a12b3c4d5e6f7a"
              },
              "step": {
                "type": "string",
                "example": "SELECT_OFFER"
              },
              "nextAction": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "SELECT_OFFER"
                  },
                  "category": {
                    "type": "string",
                    "example": "USER_ACTION"
                  }
                }
              },
              "offers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LenderOffer"
                }
              }
            }
          }
        }
      },
      "JourneyActionRequest": {
        "type": "object",
        "required": [
          "kind",
          "payload"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "SELECT_OFFER",
              "SELECT_GOLD_LOAN_BRANCH",
              "SUBMIT_BANK_ACCOUNT"
            ],
            "example": "SELECT_OFFER"
          },
          "payload": {
            "type": "object",
            "example": {
              "offerId": "off_apollo_101",
              "loanAmount": 150000
            }
          }
        }
      },
      "JourneyActionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "nextAction"
            ],
            "properties": {
              "nextAction": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "REDIRECT_TO_KYC"
                  },
                  "category": {
                    "type": "string",
                    "example": "REDIRECT"
                  },
                  "url": {
                    "type": "string",
                    "example": "https://kyc.partner-lender.com/verify?session=..."
                  }
                }
              }
            }
          }
        }
      },
      "JourneyRedirectReturnedRequest": {
        "type": "object",
        "required": [
          "kind"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "KYC",
              "MANDATE",
              "ESIGN"
            ],
            "example": "KYC"
          }
        }
      },
      "JourneyRedirectReturnedResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "nextAction"
            ],
            "properties": {
              "nextAction": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "POLL_KYC_STATUS"
                  },
                  "category": {
                    "type": "string",
                    "example": "POLL"
                  }
                }
              }
            }
          }
        }
      },
      "LeadSummary": {
        "type": "object",
        "required": [
          "applicationId",
          "loanType",
          "loanAmount",
          "status",
          "submittedAt"
        ],
        "properties": {
          "applicationId": {
            "type": "string",
            "example": "app_67a12b3c4d5e6f7a"
          },
          "loanType": {
            "type": "string",
            "example": "PERSONAL_LOAN"
          },
          "loanAmount": {
            "type": "number",
            "example": 150000
          },
          "status": {
            "type": "string",
            "example": "APPROVED"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-10-07T06:30:00.000Z"
          }
        }
      },
      "LeadListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "leads",
              "total",
              "page",
              "limit"
            ],
            "properties": {
              "leads": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LeadSummary"
                }
              },
              "total": {
                "type": "number",
                "example": 42
              },
              "page": {
                "type": "number",
                "example": 1
              },
              "limit": {
                "type": "number",
                "example": 20
              }
            }
          }
        }
      },
      "LeadStatusResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "applicationId",
              "status"
            ],
            "properties": {
              "applicationId": {
                "type": "string",
                "example": "app_67a12b3c4d5e6f7a"
              },
              "status": {
                "type": "string",
                "enum": [
                  "IN_PROGRESS",
                  "APPROVED",
                  "DISBURSED",
                  "REJECTED"
                ],
                "example": "DISBURSED"
              }
            }
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "required": [
          "subscriptionId",
          "url",
          "events",
          "createdAt"
        ],
        "properties": {
          "subscriptionId": {
            "type": "string",
            "example": "65b9e812f1a23b4c5d6e7f8a"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://partner.yourdomain.com/api/webhooks/easycred"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "journey.status_updated",
              "application.approved",
              "application.disbursed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-10-07T07:00:00.000Z"
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://partner.yourdomain.com/api/webhooks/easycred"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "journey.status_updated",
              "journey.offer_selected",
              "journey.completed",
              "application.approved",
              "application.disbursed",
              "application.rejected"
            ]
          }
        }
      },
      "WebhookCreateResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "subscriptionId",
              "url",
              "events",
              "secret"
            ],
            "properties": {
              "subscriptionId": {
                "type": "string",
                "example": "65b9e812f1a23b4c5d6e7f8a"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "example": "https://partner.yourdomain.com/api/webhooks/easycred"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "journey.status_updated",
                  "application.approved",
                  "application.disbursed"
                ]
              },
              "secret": {
                "type": "string",
                "description": "Signing secret returned ONCE only",
                "example": "whsec_7f9a2b4c8e1d3f5a6b0c2d4e8f1a3b5c"
              }
            }
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "subscriptions"
            ],
            "properties": {
              "subscriptions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          }
        }
      },
      "WebhookSecretResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "subscriptionId",
              "secret"
            ],
            "properties": {
              "subscriptionId": {
                "type": "string",
                "example": "65b9e812f1a23b4c5d6e7f8a"
              },
              "secret": {
                "type": "string",
                "example": "whsec_99a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4"
              }
            }
          }
        }
      },
      "WebhookDeleteResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "required": [
              "deleted"
            ],
            "properties": {
              "deleted": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/partner/products": {
      "get": {
        "tags": [
          "Product Access"
        ],
        "summary": "List Eligible Products",
        "operationId": "listEligibleProducts",
        "description": "Discover and query all active loan products enabled for your partner API key (Personal Loan, Pocket Loan, Business Loan, Gold Loan).",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/journey/initiate": {
      "post": {
        "tags": [
          "Hosted Journey"
        ],
        "summary": "Step 1 - Initiate Hosted Journey",
        "operationId": "initiateHostedJourney",
        "description": "Starts a hosted loan journey (channel: API_HOSTED) and returns a single-use hostedUrl to redirect the applicant to EASYCRED web screens.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HostedInitiateRequest"
              },
              "examples": {
                "personalLoan": {
                  "summary": "Personal Loan (ONLINE_PERSONAL)",
                  "value": {
                    "channel": "API_HOSTED",
                    "productCode": "ONLINE_PERSONAL",
                    "mobile": "9876543210",
                    "loanAmount": 150000,
                    "customer": {
                      "fullName": "Rahul Sharma",
                      "pan": "ABCDE1234F",
                      "dob": "1992-06-15",
                      "gender": "MALE",
                      "employmentType": "salaried",
                      "monthlyIncome": 65000,
                      "pinCode": "560001",
                      "city": "Bengaluru",
                      "state": "Karnataka",
                      "addressL1": "Flat 402, Green Glen Layout, Bellandur"
                    }
                  }
                },
                "pocketLoan": {
                  "summary": "Pocket Loan (ONLINE_SHORT_TERM)",
                  "value": {
                    "channel": "API_HOSTED",
                    "productCode": "ONLINE_SHORT_TERM",
                    "mobile": "9876543210",
                    "loanAmount": 25000,
                    "customer": {
                      "fullName": "Ananya Verma",
                      "pan": "BCDEF2345G",
                      "dob": "1997-09-20",
                      "gender": "FEMALE",
                      "employmentType": "salaried",
                      "monthlyIncome": 35000,
                      "pinCode": "110001",
                      "city": "New Delhi",
                      "state": "Delhi",
                      "addressL1": "Connaught Place"
                    }
                  }
                },
                "businessLoan": {
                  "summary": "Business Loan (ONLINE_BUSINESS)",
                  "value": {
                    "channel": "API_HOSTED",
                    "productCode": "ONLINE_BUSINESS",
                    "mobile": "9876543210",
                    "loanAmount": 1000000,
                    "customer": {
                      "fullName": "Vikram Patel",
                      "companyName": "Patel Industrial Solutions Pvt Ltd",
                      "pan": "ABCDE5678G",
                      "dob": "1985-08-22",
                      "gender": "MALE",
                      "employmentType": "selfEmployed",
                      "annualIncome": 4800000,
                      "udyamNumber": "UDYAM-KR-03-0123456",
                      "pinCode": "400051",
                      "city": "Mumbai",
                      "state": "Maharashtra",
                      "addressL1": "Unit 12, Ground Floor, Bandra Kurla Complex"
                    }
                  }
                },
                "goldLoan": {
                  "summary": "Gold Loan (ONLINE_GOLD)",
                  "value": {
                    "channel": "API_HOSTED",
                    "productCode": "ONLINE_GOLD",
                    "mobile": "9876543210",
                    "loanAmount": 200000,
                    "customer": {
                      "fullName": "Sunita Verma",
                      "pan": "FGHIJ5678K",
                      "dob": "1988-04-10",
                      "gender": "FEMALE",
                      "employmentType": "selfEmployed",
                      "monthlyIncome": 40000,
                      "pinCode": "110024",
                      "city": "New Delhi",
                      "state": "Delhi",
                      "addressL1": "A-45, Lajpat Nagar 4"
                    },
                    "goldLoanDetails": {
                      "jewellaryList": [
                        "Gold Bangle 22K (2 Pcs)",
                        "Gold Chain 22K (1 Pc)"
                      ],
                      "grams": "42.5"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Journey initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedInitiateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/journey/{journeyId}": {
      "get": {
        "tags": [
          "Hosted Journey"
        ],
        "summary": "Step 2 - Check Journey Status",
        "operationId": "checkHostedJourneyStatus",
        "description": "Check the real-time status and outcome of the hosted loan journey using the journeyId.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "description": "Journey ID returned by initiate",
            "schema": {
              "type": "string",
              "example": "jrn_67a12b3c4d5e6f7a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Journey status and outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/journey/initiate": {
      "post": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 1 - Initiate Headless Journey",
        "operationId": "initiateHeadlessJourney",
        "description": "Starts a headless loan journey (channel: API_HEADLESS) and returns a journeySession token for subsequent REST step driving.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HeadlessInitiateRequest"
              },
              "examples": {
                "personalLoan": {
                  "summary": "Personal Loan (ONLINE_PERSONAL)",
                  "value": {
                    "channel": "API_HEADLESS",
                    "productCode": "ONLINE_PERSONAL",
                    "mobile": "9876543210",
                    "loanAmount": 150000,
                    "customer": {
                      "fullName": "Rahul Sharma",
                      "pan": "ABCDE1234F",
                      "dob": "1992-06-15",
                      "gender": "MALE",
                      "employmentType": "salaried",
                      "monthlyIncome": 65000,
                      "pinCode": "560001",
                      "city": "Bengaluru",
                      "state": "Karnataka",
                      "addressL1": "Flat 402, Green Glen Layout, Bellandur"
                    }
                  }
                },
                "pocketLoan": {
                  "summary": "Pocket Loan (ONLINE_SHORT_TERM)",
                  "value": {
                    "channel": "API_HEADLESS",
                    "productCode": "ONLINE_SHORT_TERM",
                    "mobile": "9876543210",
                    "loanAmount": 25000,
                    "customer": {
                      "fullName": "Ananya Verma",
                      "pan": "BCDEF2345G",
                      "dob": "1997-09-20",
                      "gender": "FEMALE",
                      "employmentType": "salaried",
                      "monthlyIncome": 35000,
                      "pinCode": "110001",
                      "city": "New Delhi",
                      "state": "Delhi",
                      "addressL1": "Connaught Place"
                    }
                  }
                },
                "businessLoan": {
                  "summary": "Business Loan (ONLINE_BUSINESS)",
                  "value": {
                    "channel": "API_HEADLESS",
                    "productCode": "ONLINE_BUSINESS",
                    "mobile": "9876543210",
                    "loanAmount": 1000000,
                    "customer": {
                      "fullName": "Vikram Patel",
                      "companyName": "Patel Industrial Solutions Pvt Ltd",
                      "pan": "ABCDE5678G",
                      "dob": "1985-08-22",
                      "gender": "MALE",
                      "employmentType": "selfEmployed",
                      "annualIncome": 4800000,
                      "udyamNumber": "UDYAM-KR-03-0123456",
                      "pinCode": "400051",
                      "city": "Mumbai",
                      "state": "Maharashtra",
                      "addressL1": "Unit 12, Ground Floor, Bandra Kurla Complex"
                    }
                  }
                },
                "goldLoan": {
                  "summary": "Gold Loan (ONLINE_GOLD)",
                  "value": {
                    "channel": "API_HEADLESS",
                    "productCode": "ONLINE_GOLD",
                    "mobile": "9876543210",
                    "loanAmount": 200000,
                    "customer": {
                      "fullName": "Sunita Verma",
                      "pan": "FGHIJ5678K",
                      "dob": "1988-04-10",
                      "gender": "FEMALE",
                      "employmentType": "selfEmployed",
                      "monthlyIncome": 40000,
                      "pinCode": "110024",
                      "city": "New Delhi",
                      "state": "Delhi",
                      "addressL1": "A-45, Lajpat Nagar 4"
                    },
                    "goldLoanDetails": {
                      "jewellaryList": [
                        "Gold Bangle 22K (2 Pcs)",
                        "Gold Chain 22K (1 Pc)"
                      ],
                      "grams": "42.5"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Headless journey initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeadlessInitiateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/journey/{journeyId}": {
      "get": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 2 - Get Journey State",
        "operationId": "getHeadlessJourneyState",
        "description": "Polls the mirrored journey state, lender offers, and nextAction for a headless journey session.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "X-Journey-Session",
            "in": "header",
            "required": true,
            "description": "Journey session token returned by Step 1 (Initiate Headless Journey).",
            "schema": {
              "type": "string",
              "example": "jsess_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          },
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "description": "Journey ID returned by initiate",
            "schema": {
              "type": "string",
              "example": "jrn_67a12b3c4d5e6f7a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Journey state retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyStateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/journey/{journeyId}/action": {
      "post": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 3 - Submit Customer Action",
        "operationId": "submitHeadlessCustomerAction",
        "description": "Submits borrower selections such as SELECT_OFFER, SELECT_GOLD_LOAN_BRANCH, or SUBMIT_BANK_ACCOUNT.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "X-Journey-Session",
            "in": "header",
            "required": true,
            "description": "Journey session token returned by Step 1 (Initiate Headless Journey).",
            "schema": {
              "type": "string",
              "example": "jsess_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          },
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "description": "Journey ID returned by initiate",
            "schema": {
              "type": "string",
              "example": "jrn_67a12b3c4d5e6f7a"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JourneyActionRequest"
              },
              "examples": {
                "selectOffer": {
                  "summary": "Select Lender Offer",
                  "value": {
                    "kind": "SELECT_OFFER",
                    "payload": {
                      "offerId": "off_apollo_101",
                      "loanAmount": 150000
                    }
                  }
                },
                "submitBank": {
                  "summary": "Submit Bank Account",
                  "value": {
                    "kind": "SUBMIT_BANK_ACCOUNT",
                    "payload": {
                      "accHolderName": "Rahul Sharma",
                      "acctype": "SAVING",
                      "accNo": "1234567890",
                      "ifscCode": "HDFC0001234"
                    }
                  }
                },
                "selectBranch": {
                  "summary": "Select Gold Loan Branch",
                  "value": {
                    "kind": "SELECT_GOLD_LOAN_BRANCH",
                    "payload": {
                      "branchId": "branch_delhi_south_12"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/journey/{journeyId}/redirect-returned": {
      "post": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 4 - Signal Redirect Returned",
        "operationId": "signalHeadlessRedirectReturned",
        "description": "Signals that the customer has returned from a third-party hosted redirect step (KYC, e-NACH Mandate, or e-Sign).",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "X-Journey-Session",
            "in": "header",
            "required": true,
            "description": "Journey session token returned by Step 1 (Initiate Headless Journey).",
            "schema": {
              "type": "string",
              "example": "jsess_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          },
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "description": "Journey ID returned by initiate",
            "schema": {
              "type": "string",
              "example": "jrn_67a12b3c4d5e6f7a"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JourneyRedirectReturnedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signal acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JourneyRedirectReturnedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partner/leads/{applicationId}/status": {
      "get": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 5 - Get Final Status",
        "operationId": "getHeadlessFinalStatus",
        "description": "Query the final status of the completed headless application.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application ID",
            "schema": {
              "type": "string",
              "example": "app_67a12b3c4d5e6f7a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Final application status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/leads": {
      "get": {
        "tags": [
          "Tracking and Leads"
        ],
        "summary": "List Applications",
        "operationId": "listPartnerApplications",
        "description": "Returns a paginated list of all loan applications originated by this partner. Contains safe metadata only.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (default 20, maximum 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated applications list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/leads/{applicationId}/status": {
      "get": {
        "tags": [
          "Tracking and Leads"
        ],
        "summary": "Get Application Status",
        "operationId": "getTrackingApplicationStatus",
        "description": "Query the real-time status of a specific loan application originated by this partner.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "Application ID",
            "schema": {
              "type": "string",
              "example": "app_67a12b3c4d5e6f7a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Webhooks",
        "operationId": "listWebhooks",
        "description": "Lists all registered webhook endpoints for this partner account (secrets omitted).",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Register Webhook",
        "operationId": "registerWebhook",
        "description": "Registers a new webhook subscription. The HMAC signing secret is returned ONCE only in this response.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/webhooks/{subscriptionId}/rotate-secret": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Rotate Webhook Secret",
        "operationId": "rotateWebhookSecret",
        "description": "Rotates the HMAC signing secret for a webhook. Returns the new secret ONCE only.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "string",
              "example": "65b9e812f1a23b4c5d6e7f8a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret rotated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecretResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/webhooks/{subscriptionId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Webhook",
        "operationId": "deleteWebhook",
        "description": "Deletes a registered webhook subscription.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your active EASYCRED Partner API Key (format: ec_live_... or ec_test_...)",
            "schema": {
              "type": "string",
              "example": "ec_live_abc123_xyz789"
            }
          },
          {
            "name": "x-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix epoch seconds. Requests outside the 5-minute tolerance window are rejected.",
            "schema": {
              "type": "string",
              "example": "1759820800"
            }
          },
          {
            "name": "x-nonce",
            "in": "header",
            "required": true,
            "description": "Unique UUID v4 nonce per request to prevent replay attacks.",
            "schema": {
              "type": "string",
              "example": "d3b07384-d113-4ec4-9d45-2f928e123456"
            }
          },
          {
            "name": "x-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature calculated over method, path, timestamp, nonce, and raw request body.",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "string",
              "example": "65b9e812f1a23b4c5d6e7f8a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or payload failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key, signature mismatch, or replayed nonce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or unassigned product scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource or application does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded - Too many requests in short interval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  }
}