{
  "openapi": "3.1.0",
  "info": {
    "title": "EASYCRED Partner API",
    "version": "1.0.0",
    "description": "Simplified EASYCRED Partner API specification for Hosted and Headless loan origination."
  },
  "servers": [
    {
      "url": "https://api.easycred.co.in",
      "description": "Production API"
    },
    {
      "url": "https://dev.easycred.co.in",
      "description": "Development / Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Hosted Journey",
      "description": "Hosted webview integration with EASYCRED UI"
    },
    {
      "name": "Headless Journey",
      "description": "Full backend REST API integration"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Partner API",
      "tags": [
        "Hosted Journey",
        "Headless Journey"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your active EASYCRED Partner API Key"
      },
      "journeySessionAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Journey-Session",
        "description": "Journey session token returned during Headless initiation"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/partner/journey/initiate": {
      "post": {
        "tags": [
          "Hosted Journey",
          "Headless Journey"
        ],
        "summary": "Initiate Loan Journey",
        "operationId": "initiateJourney",
        "description": "Initiate a loan journey in Hosted mode (returns hostedUrl) or Headless mode (returns journeySession token).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channel",
                  "productCode",
                  "mobile",
                  "loanAmount",
                  "customer"
                ],
                "properties": {
                  "channel": {
                    "type": "string",
                    "enum": [
                      "API_HOSTED"
                    ],
                    "description": "Integration channel. Must be API_HOSTED."
                  },
                  "productCode": {
                    "type": "string",
                    "enum": [
                      "ONLINE_PERSONAL",
                      "ONLINE_SHORT_TERM",
                      "ONLINE_BUSINESS",
                      "ONLINE_GOLD"
                    ],
                    "description": "Loan product: Personal Loan, Pocket Loan, Business Loan, or Gold Loan."
                  },
                  "mobile": {
                    "type": "string",
                    "pattern": "^[6-9]\\d{9}$",
                    "example": "9876543210",
                    "description": "Applicant 10-digit Indian mobile number."
                  },
                  "loanAmount": {
                    "type": "number",
                    "example": 100000,
                    "description": "Requested loan amount in INR."
                  },
                  "customer": {
                    "type": "object",
                    "required": [
                      "fullName",
                      "pan",
                      "dob",
                      "gender",
                      "employmentType",
                      "monthlyIncome",
                      "pinCode"
                    ],
                    "properties": {
                      "fullName": {
                        "type": "string",
                        "example": "Rahul Sharma"
                      },
                      "pan": {
                        "type": "string",
                        "example": "ABCDE1234F"
                      },
                      "dob": {
                        "type": "string",
                        "format": "date",
                        "example": "1992-06-15"
                      },
                      "gender": {
                        "type": "string",
                        "enum": [
                          "MALE",
                          "FEMALE",
                          "OTHER"
                        ],
                        "example": "MALE"
                      },
                      "employmentType": {
                        "type": "string",
                        "enum": [
                          "salaried",
                          "selfEmployed"
                        ],
                        "example": "salaried"
                      },
                      "monthlyIncome": {
                        "type": "number",
                        "example": 50000
                      },
                      "personalEmail": {
                        "type": "string",
                        "format": "email",
                        "example": "rahul.sharma@example.com"
                      },
                      "pinCode": {
                        "type": "string",
                        "example": "110001"
                      },
                      "companyName": {
                        "type": "string",
                        "description": "Required for Business Loan (ONLINE_BUSINESS)",
                        "example": "Sharma Enterprises"
                      }
                    }
                  },
                  "goldLoanDetails": {
                    "type": "object",
                    "description": "Required only for Gold Loan (ONLINE_GOLD)",
                    "properties": {
                      "jewellaryList": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "Gold Bangle 22K",
                          "Gold Chain 22K"
                        ]
                      },
                      "grams": {
                        "type": "string",
                        "example": "35.5"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Journey initiated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "journeyId": {
                          "type": "string",
                          "example": "65f2a1b9c9e77b0012345678"
                        },
                        "hostedUrl": {
                          "type": "string",
                          "description": "Returned when channel is API_HOSTED",
                          "example": "https://www.easycred.co.in/loan/resume?t=token_abc123"
                        },
                        "journeySession": {
                          "type": "string",
                          "description": "Returned when channel is API_HEADLESS",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "stage": {
                          "type": "string",
                          "example": "POLL_FOR_OFFERS"
                        },
                        "nextAction": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/journey/{journeyId}": {
      "get": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 2 - Get Journey State",
        "operationId": "getJourneyState",
        "description": "Polls journey status, approved lender loan offers, and required next action.",
        "security": [
          {
            "apiKeyAuth": [],
            "journeySessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "65f2a1b9c9e77b0012345678"
          },
          {
            "name": "X-Journey-Session",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Journey session JWT from Step 1"
          }
        ],
        "responses": {
          "200": {
            "description": "Current journey state with lender offers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "journeyId": {
                          "type": "string",
                          "example": "65f2a1b9c9e77b0012345678"
                        },
                        "stage": {
                          "type": "string",
                          "example": "SELECT_OFFER"
                        },
                        "offers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "offerId": {
                                "type": "string",
                                "example": "off_12345"
                              },
                              "lenderName": {
                                "type": "string",
                                "example": "Hero Fincorp"
                              },
                              "loanAmount": {
                                "type": "number",
                                "example": 100000
                              },
                              "interestRate": {
                                "type": "number",
                                "example": 14.5
                              },
                              "tenureMonths": {
                                "type": "integer",
                                "example": 24
                              },
                              "monthlyEmi": {
                                "type": "number",
                                "example": 4825
                              }
                            }
                          }
                        },
                        "referralOffers": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "nextAction": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "SELECT_OFFER"
                            },
                            "category": {
                              "type": "string",
                              "example": "COLLECT"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/journey/{journeyId}/action": {
      "post": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 3 - Submit Customer Action",
        "operationId": "submitCustomerAction",
        "description": "Submits the customer's decision (e.g. SELECT_OFFER or SUBMIT_BANK_ACCOUNT).",
        "security": [
          {
            "apiKeyAuth": [],
            "journeySessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "65f2a1b9c9e77b0012345678"
          },
          {
            "name": "X-Journey-Session",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Journey session JWT from Step 1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind",
                  "payload"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "SELECT_OFFER",
                      "SUBMIT_BANK_ACCOUNT",
                      "SELECT_GOLD_LOAN_BRANCH"
                    ],
                    "example": "SELECT_OFFER"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "offerId": {
                        "type": "string",
                        "example": "off_12345"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action accepted; returns subsequent nextAction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "nextAction": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "REDIRECT_TO_KYC"
                            },
                            "category": {
                              "type": "string",
                              "example": "REDIRECT"
                            },
                            "url": {
                              "type": "string",
                              "example": "https://kyc.lender.com/verify?session=..."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/journey/{journeyId}/redirect-returned": {
      "post": {
        "tags": [
          "Headless Journey"
        ],
        "summary": "Step 4 - Signal Redirect Returned",
        "operationId": "signalRedirectReturned",
        "description": "Signals to EASYCRED that applicant has returned from third-party KYC, e-Sign, or Mandate.",
        "security": [
          {
            "apiKeyAuth": [],
            "journeySessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "65f2a1b9c9e77b0012345678"
          },
          {
            "name": "X-Journey-Session",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Journey session JWT from Step 1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "KYC",
                      "MANDATE",
                      "ESIGN"
                    ],
                    "example": "KYC"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return registered; returns subsequent nextAction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "nextAction": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "POLL_FOR_MANDATE_LINK"
                            },
                            "category": {
                              "type": "string",
                              "example": "POLL"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/leads/{applicationId}/status": {
      "get": {
        "tags": [
          "Hosted Journey"
        ],
        "summary": "Step 2 - Check Application Status",
        "operationId": "checkHostedStatus",
        "description": "Polls the status of the loan application once the hosted journey finishes.",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "app_65f2a1b9c9e77b0012345678",
            "description": "Application identifier returned from initiate or status callback."
          }
        ],
        "responses": {
          "200": {
            "description": "Application status and sanction details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "applicationId": {
                          "type": "string",
                          "example": "app_65f2a1b9c9e77b0012345678"
                        },
                        "status": {
                          "type": "string",
                          "example": "APPROVED"
                        },
                        "productCode": {
                          "type": "string",
                          "example": "ONLINE_PERSONAL"
                        },
                        "sanctionDetails": {
                          "type": "object",
                          "properties": {
                            "loanAmount": {
                              "type": "number",
                              "example": 100000
                            },
                            "interestRate": {
                              "type": "number",
                              "example": 13.5
                            },
                            "tenureMonths": {
                              "type": "integer",
                              "example": 24
                            },
                            "disbursalStatus": {
                              "type": "string",
                              "example": "DISBURSED"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found."
          }
        }
      }
    }
  }
}